header,footer {
	background-color: #212529!important;
}
footer{
	padding: 50px 0;
	margin-top: 50px;
}
footer *{
	color: white ;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h4{
margin-bottom: 20px; 
}
footer ul,footer p {
	margin-bottom: 20px;

}
footer li{
	margin-bottom: 10px;

}
img{
	width: 100%;
}
.container{
	margin-top: 25px; 
}

@media (max-width: 768px) { 
	#drop-header{
		width: 100%;
	}
	.subscribe{
		width: 100%;
	}
	.info{
		/*width: 50%;*/
		margin-top: 50px;
	}

}